{% with title="Ares" %}
{% include "header.html" %}
{% endwith %}


    <div class="container">
    	<section id="main_content0">

        <h2 class="text0">Please define a password for the Web Interface.</h2>
        <form method="POST" id="passform">
          <div class="label">
          <p>New Password<br></p><input type="password" name="password" id="password1"><br><br>
          <p>Confirm<br></p><input type="password" id="password2"><br><br>
        </div>
          <div class="but">
    		  <input class="submit"id="submit" type="submit" value="Submit">
        </div>
        </form>

	    </section>
    </div>
  </body>
  <script>
  document.getElementById("passform").onsubmit = function() {
    if (document.getElementById("password1").value == document.getElementById("password2").value) {
      return true;
    }
    else {
      alert("Passwords do not match");
      return false;
    }
  }
  </script>

{% include "footer.html" %}
